@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

body {
  font-family: "Montserrat", serif;
  background-color: #f4f4f9;
  margin: 0;
  padding: 0;
  min-height: 100vh; /* Ensure the body takes at least the full viewport height */
  position: relative; /* Required for absolute positioning of child elements */
  user-select: none; /* Prevent text selection */
}

